<h1>Artists</h1>
</div>
<div data-role="content">

	
	<div class="content-primary">	
		<ul data-role="listview" data-filter="true" data-filter-placeholder="Search people..." data-filter-theme="d"data-theme="d" data-divider-theme="d">
			<% @events.each do |event| %>
			<li><%= link_to event_path(event.id), :rel => "external" do %><%= event.artist %><% end %></li>
			
			<% end %>
		</ul>
	</div>
	</div>
